@inject SignInManager<Ferme.IdentityProvider.FermeUser> SignInManager

    <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Información personal</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.PreviousSalesNavClass(ViewContext)" id="previousSales" asp-page="./PreviousSales">Historial de compras</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Cambiar Contraseña</a></li>
    </ul>