@page
@model Ferme.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Información personal";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="container-user-form col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SecondSurname"></label>
                <input asp-for="Input.SecondSurname" class="form-control" />
            </div>
            <div class="form-group">
                <label>Cédula de identidad</label>
                <div class="form-group">
                    <div class="input-rut">
                        <input asp-for="Input.Rut" class="form-control" />
                    </div>
                    <div class="input-rut-text-danger">
                        <span asp-validation-for="Input.Rut" class="text-danger"></span>
                    </div>
                </div>             
            </div>
            <div class="form-group">
                <label asp-for="Input.BirthDate"></label>
                <input asp-for="Input.BirthDate" class="form-control" type="date" />
            </div>
            <h4>Información de despacho</h4>
            <hr />
            <div class="form-group">
                <label for="selRegion">Región</label>
                <select class="form-control" id="selRegion" asp-for="Input.Region" asp-items="Model.Input.Regions" onchange="traerCiudades(this.value)">
                    <option>Seleccione Región</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selCiudad">Ciudad</label>
                <select class="form-control" id="selCiudad" onchange="traerComunas(this.value)" asp-for="Input.City" asp-items="Model.Input.Cities">
                    <option>Seleccione Ciudad</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Input.Location" for="selLocation">Comuna</label>
                <select asp-for="Input.Location" class="form-control" id="selLocation" asp-items="Model.Input.Locations">
                    <option>Seleccione Comuna</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address">Dirección</label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary col-md-12">Modificar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="RegisterScripts" />
} 