<script>
    const traerVentas = async () => {
        let html ='';
        let response = await fetch('../../../../api/sale/user');
        if (response.ok) {
            let ventasHistoricas = Array.from(await response.json());
            if (ventasHistoricas.length == 0){
                html += 
                `<div class="sin-compras-historial">                        
                        <img src="https://image.flaticon.com/icons/svg/2936/2936961.svg" alt="caja" />
                        <h3>No ha realizado compras en Ferme </h3>  
                </div>` 
            }
            else {
                ventasHistoricas.forEach((ventaHistorica) => {
                    html += `
                    <div class="historial-compras">
                        <div class="historial-compras-card card">
                            <div class="historial-compra-informacion">   
                                <p>Pedido <strong>#${ventaHistorica.idVenta}</strong></p>
                                <p>Fecha de compra <strong>${ventaHistorica.fechaCompra}</strong></p>
                                <p>Tipo de documento <strong>${ventaHistorica.documento}</strong></p>
                                <p>Medio de pago <strong>${ventaHistorica.medioPago}</strong></p>
                            </div>
                            <button class="venta" onclick="" data-toggle="modal" data-target="#modal-venta-${ventaHistorica.idVenta}">Ver detalle</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="modal-venta-${ventaHistorica.idVenta}"  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body compra-historica" id="contenido-modal">
                                        <strong>Detalle pedido #${ventaHistorica.idVenta}</strong>
                                        ${generarDivVentas(ventaHistorica)}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>               
                    </div>`;
                });
            }
        }
        document.getElementById("ventas").innerHTML = html;
    }
        const generarDivVentas = (ventaHistorica) => {
            let precioTotal = 0;
            let html = `
            <table class="table">
                <thead class="thead">
                    <th scope="col-md">Producto</th>
                    <th scope="col-md">Unitario</th>
                    <th scope="col-md">Cant</th>
                    <th scope="col-md">Total</th>
                </thead>
                <tbody>`;
            ventaHistorica.productos.forEach((producto) => {
                html += `
                    <tr>
                        <td class="historico-producto">
                            <img class="historico-img" src="${producto.imagen}" alt="" width="60" height="60" />
                            <p class="historico-nombre">${producto.nombre}</p>
                        </td>
                        <td><p class="historico-precio">$${producto.precio.toLocaleString('es-CL')}</p></td>
                        <td><p class="historico-unidad">${producto.cantidad}</p></td>
                        <td><p class="historico-precio-total">$${(producto.precio * producto.cantidad).toLocaleString('es-CL')}</p></td>
                    </tr>
                `;
                precioTotal += producto.precio * producto.cantidad;
            });
            html += `
                </tbody>
            </table>

            Precio total: <strong>$ ${precioTotal.toLocaleString('es-CL')} </strong>
            `
            return html;
        }
    traerVentas();
</script> 