@page
@model Ferme.Areas.Identity.Pages.Account.Manage.PreviousSalesModel
@{
    ViewData["Title"] = "Historial de compras ";
    ViewData["ActivePage"] = ManageNavPages.PreviousSales;
}
<h4>@ViewData["Title"]</h4>
<div id="ventas">
    <div class="contenedor-spinner">
        <div class="spinner-border m-10 text-primary" role="status">
            <span class="sr-only">buscando productos</span>
        </div>
        <h4>Buscando ventas</h4>
    </div>
</div>

@section Scripts {
    <partial name="PreviousSalesScripts" />

} 
