﻿@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Carro de compras";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

<section class="container">
    <div class="contenedor-carrito-compra">
        <section id="carrito-compra" class="col-12"></section>    
    </div>
</section>

@section Scripts {
    <partial name="CartScripts" />
}