<script>
    const agregarCarro = async (id) => {
        let storage = window.localStorage;
        let cart = [];
        if (storage.getItem("cart")) {
            cart = JSON.parse(storage.getItem("cart"));
        }
        let cantidad = parseInt($('#producto-cantidad-' + id).val());
        let productoPrevio = cart.filter((c) => c.id == id);
        let response = await fetch(`../../api/product/producto/${id}`);
        if (response.ok) {
            let producto = await response.json();
            // Si el producto no existe previamente en el carro
            if (productoPrevio.length == 0) {
                producto.cantidad = cantidad ? cantidad : 1;
                cantidad = producto.cantidad;
                cart.push(producto);
                document.getElementById('contenido-modal').innerHTML =
                    producto.cantidad == 1
                        ? `Se agregó el producto <strong>${producto.nombre}</strong> al carro de compras`
                        : `Se agregaron <strong>${producto.cantidad} unidades</strong> del producto <strong>${producto.nombre}</strong> al carro de compras`;
            }
            else {
                productoPrevio[0].cantidad = cantidad ? cantidad : productoPrevio[0].cantidad + 1;
                cantidad = productoPrevio[0].cantidad;
                document.getElementById('contenido-modal').innerHTML =
                    `Se cambió la cantidad del producto <strong>${producto.nombre}</strong>
                    a <strong>${productoPrevio[0].cantidad}</strong> ${productoPrevio[0].cantidad == 1 ? "<strong>unidad</strong>" : "<strong>unidades</strong>"}
                    en el carro de compras`;
            }
            //Validación de stock
            if (cantidad > producto.stock) {
                document.getElementById('contenido-modal').innerHTML =
                    `No existe stock suficiente del producto <strong>${producto.nombre}
                    </strong>. El stock disponible es de <strong>${producto.stock}</strong> ${producto.stock > 1
                    ? "<strong>unidades</strong>" : "<strong>unidad</strong>"}.`;
                return;
            }
            storage.setItem("cart", JSON.stringify(cart));
            actualizarCarro();
        }
        else {
            document.getElementById('contenido-modal').innerHTML = `Error al obtener los datos del producto`;
        }
    }
    const mostrarProductosCarro = () => {
        actualizarCarro();
        let storage = window.localStorage;
        let precioTotal= 0;
        if(!document.getElementById("carrito-compra")) return null;
        if (storage.getItem("cart") && storage.getItem("cart")!=="[]") {
            cart = JSON.parse(storage.getItem("cart"));
            let html = `
                <table class="table">
                <thead class="thead">
                    <th scope="col-md">Producto</th>
                    <th scope="col-md">Cantidad</th>
                    <th scope="col-md">Precio unitario</th>
                    <th scope="col-md">Total</th>
                    <th scope="col-md"></th>
                </thead>
                <tbody>
            `;
            
            cart.forEach(producto => {                
                html += `
                <tr>
                    <td class="carro-producto">
                        <img class="carro-img" src=${producto.imagen} class="card-img-top" alt="${producto.nombre}">
                        <div>
                            <p class="carro-marca">${producto.marcaProducto}</p>
                            <p class="carro-nombre">${producto.nombre}</p>
                            
                        </div>
                    </td>
                    <td>
                        <p class="carro-unidad">
                            <button class="boton-menos-carro" id="menos-carro" type='submit' onclick="menosCarro(${producto.id},${producto.stock})">-</button> 
                            <input id="producto-cantidad-${producto.id}" type="number" min="1" max="${producto.stock}" value="${producto.cantidad}" onchange="cambiarCarro(${producto.id})" />
                            <button class="boton-mas-carro" id="mas-carro" type='button' onclick="masCarro(${producto.id},${producto.stock})">+</button>
                        </p>
                    </td>
                    <td><p class="carro-precio">$ ${producto.precio.toLocaleString('es-CL')} c/u</p></td>
                    <td><p class="carro-precio-total">$ ${(producto.precio * producto.cantidad).toLocaleString('es-CL')}</p></td>
                    <td><button class="button-eliminar" onclick="eliminarProducto(${producto.id})"><i class="fas fa-times-circle"></i></button></td>
                </tr>
                `
                precioTotal += producto.precio * producto.cantidad;
            });
            html += `
                </tbody>
            </table>
            <section class="carrito-compra-detalle row">
                <div class="col-12 col-md-9">
                    <p>Resumen de tu Compra</p>
                    <p class="carro-precio-total">Precio a pagar: $ ${precioTotal.toLocaleString('es-CL')}</p>
                </div>
                <div class="col-12 col-md-3">
                    <a href="../Payment/Sale"><button class="button-comprar">Comprar</button></a>
                    <a href="../Products/ListProducts"><button class="button-mas-productos">Ver más Productos</button></a>
                </div>
            </section>
            `;
            document.getElementById("carrito-compra").innerHTML = html;
        }
        else {
            document.getElementById("carrito-compra").innerHTML = `
                <div class="carrito-compra-vacio">
                    <i class="fas fa-shopping-cart" aria-hidden="true"></i> 
                    <h5>Carro de compras vacío</h5>
                </div>
                <section class="carrito-compra-detalle row">
                <div class="col-12 col-md-9">
                    <p>Revisa nuestros productos</p>                   
                </div>
                <div class="col-12 col-md-3">
                    <a href="../Products/ListProducts"><button class="button-mas-productos">Ver Productos</button>
                </div>
            </section>
            `;
        }
    }
    const eliminarProducto = (id) => {
        let storage = window.localStorage;
        cart = new Array;
        cart = JSON.parse(storage.getItem("cart"));
        storage.setItem("cart",JSON.stringify(cart.filter(producto => producto.id !== id)));
        mostrarProductosCarro();
    }
    const cambiarCarro = (id) => {
        let storage = window.localStorage;
        let cart = [];
        let cantidad = parseInt($('#producto-cantidad-' + id).val());
        if (cantidad < 1 || !cantidad) {
            mostrarProductosCarro();
            return;
        }
        if (storage.getItem("cart")) {
            cart = JSON.parse(storage.getItem("cart"));
        }
        let productoPrevio = cart.filter((c) => c.id == id)[0];
        productoPrevio.cantidad = cantidad;
        //Validación de stock
        if (cantidad > productoPrevio.stock) {
            mostrarProductosCarro();
            return;
        }
        storage.setItem("cart", JSON.stringify(cart));
        mostrarProductosCarro();
    }

    const masCarro = (id,stock) =>{
        let contador = document.getElementById(`producto-cantidad-${id}`).value;
        let int = parseInt(contador, 10);
        document.getElementById(`producto-cantidad-${id}`).value = int < stock ? int + 1 : int;
        cambiarCarro(id);
    }

    const menosCarro = (id,stock) => {
        let cont = document.getElementById(`producto-cantidad-${id}`).value;
        let counterValue = parseInt(cont,10);
        let NewCont = (counterValue) && counterValue > 1 ? counterValue - 1: 1;
        document.getElementById(`producto-cantidad-${id}`).value = NewCont;
        cambiarCarro(id);
    }
    mostrarProductosCarro();
</script>