﻿@{
    ViewData["Title"] = "Home Page";
}

@{
    var Carousel01 = "/images/carousel/carusel_1.jpg";
    var Carousel02 = "/images/carousel/carusel_2.jpg";
    var Carousel03 = "/images/carousel/carusel_3.jpg";
    var adhesivo = "/images/categoria/adhesivos.jpg";
    var construccion = "/images/categoria/construccion.jpg";
    var electrico = "/images/categoria/electrico.jpg";
    var gasfiteria = "/images/categoria/gasfiteria.jpg";
    var herramienta = "/images/categoria/herramienta.jpg";
    var madera = "/images/categoria/madera.jpg";
    var maquina = "/images/categoria/maquina.jpg";
    var pinturas = "/images/categoria/pinturas.jpg";
    var pisos = "/images/categoria/pisos.jpg";
    var puertas = "/images/categoria/puertas.jpg";
    var techos = "/images/categoria/techos.jpg";
    var ventanas = "/images/categoria/ventanas.jpg";
    var publicidad = "/images/publicidad1.jpg";
    var publicidad2 = "/images/publicidad2.jpg";
}

<section class="container">
    <div id="carouselExampleCaptions" class="row carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Carousel01" class="w-100 carousel-img" alt="Heramientas ferreteria">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="@Carousel02" class="d-block w-100 carousel-img" alt="Heramientas ferreteria">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="@Carousel03" class="d-block w-100 carousel-img" alt="Pasillo ferreteria">
                <div class="carousel-caption d-none d-md-block">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="container publicidad">
        <h3 class="text-center p-publicidad">TODO PARA TU HOGAR</h3>
        <hr color="red" />
        <div class="row">
            <img src="@publicidad" class="col-12 col-sm-6 img-publicidad" alt="Publicidad" />
            <img src="@publicidad2" class="col-12 col-sm-6 img-publicidad" alt="Publicidad" />
        </div>
    </div>

    <br />
    <div class="container categorias">
        <h4 class="p-categoria">Revisa nuestas categorías de productos</h4>
        <hr color="orange" />
        <div class="row">
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@adhesivo" alt="Adhesivos">
                    <a href="/Products/ListProducts?familia=9"><div class="texto-familia">Adhesivos</div></a>
                </div>
            </picture>
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@construccion" title="Construcción" alt="Construcción">
                    <a href="/Products/ListProducts?familia=2"><div class="texto-familia">Construcción</div></a>
                </div>
            </picture>
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@electrico" alt="Electricidad">
                    <a href="/Products/ListProducts?familia=4"><div class="texto-familia">Electricidad</div></a>
                </div>
            </picture>
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@gasfiteria" alt="Gasfitería">
                    <a href="/Products/ListProducts?familia=12"><div class="texto-familia">Gasfitería</div></a>
                </div>
            </picture>
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@herramienta" alt="Herramientas">
                    <a href="/Products/ListProducts?familia=6"><div class="texto-familia">Herramientas</div></a>
                </div>
            </picture>
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@madera" alt="Maderas">
                    <a href="/Products/ListProducts?familia=3"><div class="texto-familia">Maderas</div></a>
                </div>
            </picture>
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@maquina" alt="Maquinaría">
                    <a href="/Products/ListProducts?familia=5"><div class="texto-familia">Maquinaría</div></a>
                </div>
            </picture>
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@pinturas" alt="Pinturas">
                    <a href="/Products/ListProducts?familia=10"><div class="texto-familia">Pinturas</div></a>
                </div>
            </picture>
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@pisos" alt="Pisos">
                    <a href="/Products/ListProducts?familia=7"><div class="texto-familia">Pisos</div></a>
                </div>
            </picture>
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@puertas" alt="Puertas">
                    <a href="/Products/ListProducts?familia=8"><div class="texto-familia">Puertas</div></a>
                </div>
            </picture>
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@techos" alt="Techos">
                    <a href="/Products/ListProducts?familia=13"><div class="texto-familia">Techos</div></a>
                </div>
            </picture>
            <picture class="container-familia col-6 col-sm-3">
                <div class="container-familia-img">
                    <img class="imagen-familia" src="@ventanas" alt="Ventanas">
                    <a href="/Products/ListProducts?familia=11"><div class="texto-familia">Ventanas</div></a>
                </div>
            </picture>
        </div>
    </div>
</section>
