﻿@page
@{
    ViewData["Title"] = "Centro de ayuda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var ferme = "/images/manual/ferme.png";
}

<section class="parrafo-uno">
    <div class="container">
        <h2>Centro de ayuda</h2>
        <h5>
            La ferretería Ferme ofrece a sus clientes una diversa cantidad de productos, facilitando el servicio de la venta de estos a través de internet; donde los clientes podrán adquirir diversos productos de ferreteria a través de la compra en línea. Está  página web cuenta  con  diversas funcionalidades que  lo  hacen
            asequible  para  cualquier usuario.  Sus variadas opciones  hacen  que  este  portal  sea  una  alternativa  muy  favorable  y
            cómoda para realizar las compras de productos que se encuentran en una ferreteria local de forma online.
        </h5>
        <br>
        <h4>
            <strong>Nuestra misión es que nuestros clientes tengan una experiencia  agradable y confiable, esperando que Ferme sea la mejor opción.</strong>
        </h4>
    </div>
</section>

<section class="parrafo-dos">
    <div class="container">
        <div class="parrafo-funcionalidad">
            <h4>Funcionalidades</h4>
            <h5>Entre las funcionalidades de Ferme, podrá encontrar:</h5>
            <h5><strong>-</strong> Creación de cuenta de usuario.</h5>
            <h5><strong>-</strong> Catálogo de productos por categorias.</h5>
            <h5><strong>-</strong> Carro de compras.</h5>
            <h5><strong>-</strong> Buscador de productos.</h5>
            <h5><strong>-</strong> Historial de compras de la cuenta.</h5>
        </div>
        <img src="@ferme"  alt="catalogo ferme" />
    </div>
</section>

<section class="parrafo-tres">
    <div class="container">
        <h3>¿Algún comentario sobre Ferme?</h3>
    </div>
</section>





