﻿<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Ferme</title>
        <link rel="shortcut icon" href="https://i.ibb.co/Rj4xpYJ/ferme-1.png" type="image/x-icon"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <!--Tipografia-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <!--Estilos css-->
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css?v1" />
        <link rel="stylesheet" href="~/css/site.css?v4" />
        <link rel="stylesheet" href="~/css/index.css?v1" />
        <link rel="stylesheet" href="~/css/listProduct.css?v4" />
        <link rel="stylesheet" href="~/css/detailProduct.css?v4" />
        <link rel="stylesheet" href="~/css/cart.css?v3ss" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
                <div class="container">
                    <img src="https://i.ibb.co/Rj4xpYJ/ferme-1.png" class="logo" alt="Logo Ferme" />
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ferme</a>           
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <div class="iconos-navbar">
                            <span id="cantidad-carrito"></span>
                            <a asp-area="" asp-page="/Cart/Cart">
                                <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                            </a>
                            <i class="fas fa-user"></i>
                        </div>
                        <partial name="_CartUtils" />
                    </div>
                </div>

            </nav>
        </header>

        <section class="contenedor-body">
            <main role="main" class="pb-3">
                <partial name="_Search" />
                @RenderBody()  
            </main>
        </section>

        <footer class="border-top footer text-muted">
            <div class="container">
                <div class="row">
                    <section class="footer-ferme-img col-12 col-sm-3">
                        <img src="https://i.ibb.co/Rj4xpYJ/ferme-1.png" class="footer-logo" alt="Logo Ferme" />
                    </section>
                    <section class="footer-ferme col-6 col-sm-5">
                        <div class="footer-informacion">
                            <h5>Ferretería Ferme</h5>
                            <h5>Ferme S.A.</h5>
                            <h6>Pucón 10819, La Florida</h6>
                            <h6>+56 9 87654321</h6>
                        </div>                    
                    </section>
                    <section class="footer-servicios col-6 col-sm-4">
                        <h5>Servicio al cliente</h5>
                        <a asp-area="" asp-page="/HelpUser/HelpUser"><h6>Centro de ayuda</h6></a>
                        <a asp-area="" asp-page="/Cart/Cart"><h6>Mi carro de compras</h6></a>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index"><h6>Mi información</h6></a>
                    </section>
                </div>
                <h5 class="footer-copy">COPYRIGHT&copy; 2020. Ferme S.A.</h5>     
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
