<!-- Search form -->
<form class="form-inline d-flex justify-content-center md-form form-sm mb-3 search container" asp-page="/Products/ListProducts" method="get">
    <input id="busqueda" name="busqueda" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="¿Qué estás buscando?" aria-label="Search">
    <a asp-area="" asp-page="/Products/ListProducts" id="buscarProductos"><i class="fas fa-search" aria-hidden="true" onclick="busqueda()"></i></a>
</form>
<script type="text/javascript">
    const busqueda = () => {
        let query = $('#busqueda').val();
        let linkBusqueda = $('#buscarProductos')[0];
        linkBusqueda.href = linkBusqueda.href.concat("?busqueda=" + query);
    }
</script> 