<script>
    const mostrarResumenCompra = (factura) => {
        let storage = window.localStorage;
        let precioTotal = 0;
        
        if (storage.getItem("cart") && storage.getItem("cart")!=="[]") {
            cart = JSON.parse(storage.getItem("cart"));
            let html = `
                <div class="resumen-carrito-producto-venta">
            `;
            cart.forEach(producto => { 
                html += `
                    <div class="venta-producto">
                        <picture>                        
                            <img class="venta-img" src=${producto.imagen} class="card-img-top" alt="${producto.nombre}">
                        </picture>
                        <div>
                            <p class="venta-nombre">${producto.cantidad} x ${producto.nombre}</p>
                            <p class="venta-precio-total"><strong>$ ${(producto.precio * producto.cantidad).toLocaleString('es-CL')}</strong></p>
                        </div>
                    </div>
                `
                precioTotal += producto.precio * producto.cantidad;   
            })
            if (factura) {
                html += `
                </div>
                <a href="../Cart/Cart"><button class="venta-volver-carrito" id="venta-volver-carrito">Volver al carrito</button></a>
                <p><strong>Monto neto: $ ${(precioTotal * 0.81).toLocaleString('es-CL')}</strong></p>
                <p><strong>IVA 19%: $ ${(precioTotal * 0.19).toLocaleString('es-CL')}</strong></p>
                <p class="venta-total">Total: $ ${precioTotal.toLocaleString('es-CL')}</p>
                <button class="venta-comprar-ahora" id="venta-comprar-ahora" onclick="comprar()">Comprar ahora</button>
                `
            }
            else {
                html += `
                </div>
                <a href="../Cart/Cart"><button class="venta-volver-carrito" id="venta-volver-carrito">Volver al Carro</button></a>
                <p class="venta-total">Total: $ ${precioTotal.toLocaleString('es-CL')}</p>
                <button class="venta-comprar-ahora" id="venta-comprar-ahora" onclick="comprar()">Comprar ahora</button>
                `
            }
            document.getElementById("resumen-carrito").innerHTML = html;
        }else{
            document.getElementById("resumen-carrito").innerHTML = `
                <div class="resumen-carrito-vacio-venta">
                    <i class="fas fa-shopping-cart" aria-hidden="true"></i>              
                    <p>No tienes ningun producto</p>                    
                </div>
                <a href="../Products/ListProducts"><button class="venta-sin-productos">Ver Productos</button></a>
            `
        }
    }
    const comprar = async () => {
        //Desactivar botones
        var comprarBtn = document.getElementById('venta-comprar-ahora');
        comprarBtn.disabled = true;
        comprarBtn.textContent = "Realizando compra...";
        document.getElementById('venta-volver-carrito').disabled = true;

        let storage = window.localStorage;
        let cart = JSON.parse(storage.getItem("cart"));
        let documentType = document.getElementById("tipo-documento").value;
        let data = {
            documentType : documentType,
            cart : cart
        };
        let response = await fetch('../api/Sale/Sale',{
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        if(response.ok){
            let status = await response.json();
            document.getElementById("contenido-modal").innerHTML = "Compra realizada con éxito. Gracias por preferir <strong>Ferreteria Ferme</strong>.";
            document.getElementById("botones-modal").innerHTML =
            `
                <a href="../../"><button type="button" class="btn btn-primary">Aceptar</button></a>
            `;
            $("#modal-compra").modal("show");
            storage.removeItem("cart");
        }
        else{
            document.getElementById("contenido-modal").innerHTML = "Ha ocurrido un error en la compra.";
            document.getElementById("botones-modal").innerHTML =
            `
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            `;
            $("#modal-compra").modal("show");
        }
    }
    const chequearFactura = () => {
        if ($('#tipo-documento').val() == 2) {
            mostrarResumenCompra(true);
        }
        else mostrarResumenCompra(false);
    }
    mostrarResumenCompra();
</script>