﻿@page
@model Ferme.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Registrar";
}
<section class="container">
    <br>
    <h2>@ViewData["Title"]</h2>
    <br>

    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-10 col-md-6 container-register">
            <section class="container-register-registrar">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Crear una nueva cuenta</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email">Correo electrónico</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Crea tu contraseña</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword">Confirma tu contraseña</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <h4>Datos personales</h4>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Input.FirstName">Nombre</label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.LastName">Apellido Paterno</label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.SecondSurname">Apellido Materno</label>
                        <input asp-for="Input.SecondSurname" class="form-control" />
                        <span asp-validation-for="Input.SecondSurname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Rut">Cédula Identidad</label>
                        <div class="input-rut">
                            <input asp-for="Input.Rut" class="form-control form-rut" />
                        </div>
                        <div class="input-rut-text-danger">
                            <span asp-validation-for="Input.Rut" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.BirthDate" for="example-date-input" class="col-form-label">Fecha de nacimiento</label>
                        <input asp-for="Input.BirthDate" class="form-control" type="date" value="2020-01-01" id="example-date-input">
                    </div>
                    <div class="form-group">
                        <label>Género</label>
                        <div class="form-check">
                            <input asp-for="Input.Genere" class="form-check-input" type="radio" value="F" checked>
                            <label class="form-check-label" for="exampleRadios1">Femenino</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Input.Genere" class="form-check-input" type="radio" value="M">
                            <label class="form-check-label" for="exampleRadios2">Masculino</label>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label @*asp-for="Input."*@>Telefono</label>
                        <input @*asp-for="Input."*@ class="form-control" />
                        <span @*asp-validation-for="Input."*@ class="text-danger"></span>
                    </div>
                    -->
                    <h4>Información Despacho</h4>
                    <hr />
                    <div class="form-group">
                        <label for="selRegion">Region</label>
                        <select class="form-control" id="selRegion" asp-items="Model.Regiones" onchange="traerCiudades(this.value)">
                            <option>Seleccione Región</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selCiudad">Ciudad</label>
                        <select class="form-control" id="selCiudad" onchange="traerComunas(this.value)">
                            <option>Seleccione Ciudad</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Location" for="selLocation">Comuna</label>
                        <select asp-for="Input.Location" class="form-control" id="selLocation">
                            <option>Seleccione Comuna</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Address">Calle</label>
                        <input asp-for="Input.Address" class="form-control" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Block">Block / Departamento</label>
                        <input asp-for="Input.Block" class="form-control" />
                        <span asp-validation-for="Input.Block" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary container-register-button">Registrar</button>
                </form>
            </section>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="RegisterScripts" />
}
