.detalle-producto{
    margin:auto;
}

#detalle-producto-img{
    width: 100%;
    padding: 100px;
}

#detalle-producto-marca{
    text-transform: uppercase;
    color: #868484;
    font-size: 18px;
}

#detalle-producto-nombre{
    font-size: 20px;
    font-weight: bold;
}

#detalle-producto-descripcion{
    color: #868484;
    font-size: 16px;
}

#detalle-producto-precio{
    font-size: 20px;
    font-weight: bold;
}

#detalle-producto-agregar{
    color: #0062cc;
    background-color: white;
    width: 50%;
    display: inline-block;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    border: 1px solid #0062cc;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#detalle-producto-agregar:focus{
    outline: none;
}


.agregar-producto{
    display: flex;
    flex-direction: row;
}

.componente-cantidad{
    display: flex;
    flex-grow: 1;
    padding-right: 16px;
}


.boton-menos, .boton-mas {
    flex-grow: 1;
    border: 1px solid #0062cc;
    color: #0062cc;
    background-color: #fff;
    align-content: center;
    border-radius: .1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.boton-menos:hover, .boton-mas:hover, #detalle-producto-agregar:hover{
    color: #fff;
    font-weight: bold;
    background-color: #0062cc;
    border-color: #0062cc;
}

.detalle-producto-cantidad {
    flex-grow: 1;
    border: 1px solid #0062cc;
    text-align: center;
}


@media (max-width: 768px) {
    #detalle-producto-img {
        width:100%;
        height:100%;
        padding: 50px;
    }

    #detalle-producto-agregar{
        width: 100%;
        margin-bottom: 10px;
    }

    .agregar-producto{
        flex-direction: column;
    }

    .componente-cantidad{
        width:100%;
        margin-bottom: 16px;
        padding-right: 0;
    }

    .componente-cantidad span {
        width: 100%;
    }

}
