.parrafo-uno {
    margin-top: -50px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #0D47A1;
}

.parrafo-uno .container h2{
    color: #fff;
    line-height: 3rem;
}

.parrafo-uno .container h5{
    color: #fff;
    line-height: 2rem;
}

.parrafo-uno .container h4{
    color: #fff;
    line-height: 2rem;
}

.parrafo-dos {
    background-color: #CFD8DC;
    padding: 80px 0;
}

.parrafo-dos .container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.parrafo-dos .container img {
    width: 40%;
}

.parrafo-funcionalidad h4 {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3rem;
}

.parrafo-funcionalidad h5 {
    line-height: 2rem;
}

.parrafo-tres {
    padding: 180px 0;
    background-color: #0D47A1;
    margin-bottom: -30px;
}

.parrafo-tres .container h3 {
    font-weight: bold;
    line-height: 3rem;
    color:#fff;
    text-align: center;
}

@media(max-width:740px) {

    .parrafo-uno {
        margin-top: -50px;
        padding: 40px 20px;
        background-color: #0D47A1;
    }
    

    .parrafo-uno .container h2, .parrafo-tres .container h3{
        font-size: 20px;
        line-height: 2rem;
    }
    
    .parrafo-uno .container h5, .parrafo-funcionalidad h5 {
        font-size: 16px;
    }
    
    .parrafo-uno .container h4, 
    .parrafo-funcionalidad h4{
        font-size: 16px;
    }

    .parrafo-dos{
        padding: 30px 20px;
    }

    .parrafo-dos .container {
        display: flex;
        flex-direction: column;
    }

    .parrafo-dos .container img {
        width: 100%;
    }
    
}