.carousel-img {
    height: 300px;
}

.img-publicidad {
    display:block;
}

.container-familia-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-familia-img .imagen-familia {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}

.container-familia-img .texto-familia {
    padding-top: 8px;
    display: block;
    text-align: center;
    width: 100%;
    transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    opacity: 0;
    transition: transfom opacity 1.5s;
    font-weight: bold;
    text-transform: uppercase;
    font-size:18px;
}

.container-familia-img:hover .imagen-familia {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.container-familia-img:hover .texto-familia {
    transform: translate(0px, -20px);
    opacity: 1;
}

/*Media queries*/

@media(max-width:740px) {
    .carousel-img {
        height: 180px;
    }
    .carousel {
        margin: auto;
    }
    .container-familia-img .texto-familia {
        padding-top: 16px;
        font-size: 16px;
    }

    h3 {
        font-size:22px;
    }

    h4 {
        font-size:16px;
    }

    .img-publicidad {
        margin:0 0 8px 0;
        height: 100px;
    }
}