﻿.contenedor-productos-cards {
    margin-left:0;
    margin-right:0;    
}

#contenedorProductos {
    display: flex;
    flex-direction: column;
}

.productos-img {
    display: block;
    margin: auto;
    width: 150px;
    height: 170px;
    padding: 10px 0px;
}

.contenedor-spinner {
    display: flex;
    flex-direction:column;
    height: 450px;
    align-items: center;
    width: 100%;    
    justify-content: center;
}

#contenedorProductos h4 {
    font-size:22px;
    padding-left: 30px;
}

.sin-productos{
    width:20%;
}

.productos-card {
    max-width: 200px;
    margin: 8px;
    border: 1px solid #F2F3F4;
    border-radius: 5px;
    background-color: #fff;
}

.productos-marca{
    text-transform: uppercase;
    color: #868484;
    font-size: 14px;
}

.productos-nombre{
    font-size: 16px;    
}

.productos-nombre a {
    text-decoration: none;
    color: #212529;    
}

.productos-precio{
    font-size: 16px;
    font-weight: bold;
}

.productos-agregar{
    color: #0062cc;
    background-color: white;
    width: 100%;
    display: inline-block;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    border: 1px solid #0062cc;
    padding: .375rem .75rem;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.producto-no-disponible{
    color: white;
    background-color: orangered;
    border: 1px solid orangered;
    padding: .375rem .75rem;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    vertical-align: middle;
}

.productos-agregar:hover{
    color: #fff;
    font-weight: bold;
    background-color: #0062cc;
    border-color: #0062cc;
}

.productos-agregar:focus {
    outline: none;
}

.list-group{
    height: 300px;
}

.texto-producto{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .productos-img {
        display: block;
        margin: auto;
        padding: 5px 0px;
        width: 90px;
        height: 110px;
    }

    .productos-card {
        max-width: 140px;
        margin:0;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .texto-producto{
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: space-between;
    }

    .productos-agregar, .producto-no-disponible {
        font-size: 12px;
    }

    .productos-marca {
        font-size: 12px;
        margin-bottom:5px;
    }

    .productos-nombre {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .productos-precio {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .contenedor-productos-cards {
        justify-content: space-evenly;
        padding-right: 0px;
        padding-left: 0px;
    }

    #contenedorProductos h4 {
        font-size: 16px;
        padding-left: 10px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .productos-card {
        max-width: 150px;
        padding-right:10px;
        padding-left:10px;
    }

    .contenedor-productos-cards {
        justify-content: space-evenly;
    }


    #contenedorProductos h4 {
        font-size: 16px;
        padding-left: 16px;
    }
}

/*modal*/

.modal-header, .modal-body {
    border-bottom: none !important;
}

.modal-footer{
    border-top: none !important;
}