@media(max-width:740px) {
    .container-user-form h2 {
        font-size:28px;
    }
    .container-user-form h5 {
        font-size:16px;
    }
    .container-user-form h4 {
        margin-top:16px;
    }
}

.container-user-form h2{
    text-transform: uppercase;
    font-weight: bold;
}