.historial-compras-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0px;
    background-color: #F4F6F7;
    border-radius: 5px;
    border:#F4F6F7; 
}

.historial-compras-card {
    margin: 16px 0;
    padding: 16px 0;
}

.historial-compra-informacion p {
    margin-bottom: 4px;
}

.venta {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1b6ec2;
    width: 20%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.venta:hover{
    color: #fff;
    font-weight: bold;
    background-color: #0062cc;
    border-color: #0062cc;  
}

.historial-compra-informacion p strong {
    text-transform: lowercase;
}

@media (max-width: 768px) {
    .historial-compras-card {
        flex-direction: column;
        justify-content: flex-start;
    }

    .historial-compras-card {
        padding: 16px;
    }

    .venta {
        margin: 16px 0px;
        width: 100%;
    }
    
}
/*MODAL*/


.thead {
    text-align-last: center;
}

.table td {
    vertical-align: middle;
    text-align-last: center;    
}

.historico-producto div {
    align-self: center;
}

.historico-img {
    padding: 10px;
    width: 100px;
    height: 100px;
    align-self: center;
}

.historico-unidad {
    margin-bottom:0;
}

.historico-marca{
    text-transform: uppercase;
    color: #868484;
    font-size: 14px;
}

.historico-precio, .historico-precio-total{
    font-size: 16px;
    font-weight: bold;
    margin-bottom:0;
}

.historico-nombre{
    font-size: 16px;
    text-align: center;  
}

.historico-producto {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.table thead th {
    border-bottom: none;
}

.contenedor-spinner {
    display: flex;
    flex-direction: column;
    height: 450px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.sin-compras-historial img {
    width: 20%;
}

.sin-compras-historial h4 {
    margin:24px auto;
}


.sin-compras-historial {
    margin: 100px auto;
    text-align: center;
}

@media (max-width: 768px) {

    .compra-historica{
        padding: 8px;
    }

    .table thead th {
        font-size: 12px;
        text-align: center;
    }

    .table td p {
        margin-bottom:0;
        font-size: 12px;
    }

    .historico-img {
        margin: auto;
        padding: 5px;
        width: 80px;
        height: 80px;
    }

    .historico-precio-total, .historico-producto, .historico-nombre, .historico-unidad, .historico-precio {
        font-size: 12px;
        text-align: center;
    }

    .table td {
        padding:1px;
    }

    .sin-compras-historial img {
        width: 40%;
    }
}