﻿
/*selector universal "*"*/
* {
  font-family: 'Roboto', sans-serif;  
}

h1, h2, h3, h4, h5, h6, p, th, a, label, .nav-link {
  color: #212121;
}
/*navbar*/
.logo{
  width:5%;
}

.navbar-brand {
  font-weight:bold;
}


.navbar {
  margin-bottom: 120px;
}

.textos-navbar{
  display:none;
}

#cantidad-carrito, #cantidad-carrito-mobile{
  width: 25px;
  height: 25px;
  background: orangered;
  color: #fff;
  font-weight:bold;
  border-radius:50%;
  display: inline-block;
  text-align: center;
}

@media (max-width: 760px) {  
  .logo{
    width:12%;
  }
  .iconos-navbar{
    display:none;
  }

  .textos-navbar{
    display: block;
  }

  #cantidad-carrito{
    display:block;
  }
}

@media (min-width: 600px) and (orientation:landscape) {
  .iconos-navbar {
      display: block;
  }

  .textos-navbar {
      display: none;
  }
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/* Provide sufficient contrast against white background */
a {
  color: #212529;
  text-decoration: none;
}

a:hover{
  color: #212529;
} 

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} 

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 16px;
} 

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
} 

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
} 

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
} 

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #FFFFFF;  
}

.contenedor-body {
    margin-top: 100px;
    margin-bottom: 220px;
}


/* Sticky footer styles
-------------------------------------------------- */

.footer {
  margin-top:200px;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
  height: 220px;/* Vertically center the text there */
  background-color: #2E4053;
} 

.footer-ferme {
    display:flex;
    flex-direction:row;
    margin: 16px 0px;
}

.footer-ferme-img {
    align-self: center;
    text-align:center;
}

.footer-logo {
    width:40%;
}

.footer-informacion h5, .footer-servicios h5 {
    color: #fff;
    font-weight: bold;
}

.footer-informacion h6, .footer-servicios a, .footer-servicios h6 {
    color: #fff;
}

.footer-servicios {
    margin: 16px 0px;
}


.footer-copy {
    color: #fff;
}

@media (max-width: 760px) {
    .contenedor-body {
        margin-bottom: 180px;
    }

    .footer-logo {
        width:60%;
    }

    .footer-informacion h5, .footer-servicios h5, .footer-copy {
        font-size: 16px;
    }

    .footer-informacion h6, .footer-servicios h6 {
        font-size: 12px;
    }

    .footer-copy {
        font-size: 18px;
    }

    .footer {
        height: 180px;
    } 
}


@media (max-width: 600px) {
    .contenedor-body {
        margin-bottom: 180px;
    }

    .footer-logo {
        display:none;
    }

    .footer-informacion h5, .footer-servicios h5, .footer-copy {
        font-size: 16px;
    }

    .footer-informacion h6, .footer-servicios h6 {
        font-size: 12px;
    }

    .footer {
        height: 180px;
    } 
}


