@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Detalle Producto";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

<section class="container">
    <div class="row" id="contenedorDetalleProducto"></div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter"  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="window.location.reload()">     
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" id="contenido-modal"></div>
            <div class="modal-footer">
                <a href="../Cart/Cart"><button type="button" class="btn btn-secondary">Ir a carro de compras</button></a>
                <a href="./ListProducts"><button type="button" class="btn btn-primary">Ver más productos</button></a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="DetailProductScripts" />
    <partial name="../Cart/CartScripts" />
}