<script>
    const traerProductoId = async () => {
        let urlParams = new URLSearchParams(location.search); //saca el id del queryparams de la url
        let id = urlParams.get("id");
        let cart = [];
        if (window.localStorage.getItem("cart")) {
            cart = JSON.parse(window.localStorage.getItem("cart"));
        }
        let productoPrevio = cart.filter((c) => c.id == id);
        
        let response = await fetch(`../../api/product/producto/${id}`);
        if (response.ok) {
            let producto = await response.json();
            let html = `
                <img id="detalle-producto-img" class="col-12 col-md-6" src="${producto.imagen}" alt="${producto.nombre}">
                <section class="col-10 col-md-6 detalle-producto">
                    <p id="detalle-producto-marca">${producto.marcaProducto}</p>
                    <p id="detalle-producto-nombre">${producto.nombre}</p>
                    <p id="detalle-producto-descripcion">${producto.descripcion}</p>
                    <p id="detalle-producto-precio">$ ${producto.precio.toLocaleString('es-CL')} c/u</p>
                    ${producto.stock === 0 ?
                    '<p>Producto No Disponible</p>'
                    :
                    `
                    <section class="agregar-producto">
                        <div class="componente-cantidad">                            
                            <button class="boton-menos" id="menos" type='submit' onclick="menos(${producto.id},${producto.stock})">-</button> 
                            <input id="producto-cantidad-${producto.id}" class="detalle-producto-cantidad" type="number" min="1" max="${producto.stock}" 
                            value="${productoPrevio.length > 0 ? productoPrevio[0].cantidad : 1}" onchange="validar(${producto.id})" />
                            <button class="boton-mas" id="mas" type='button' onclick="mas(${producto.id},${producto.stock})">+</button> 
                        </div>
                        <button id="detalle-producto-agregar" onclick="agregarCarro(${producto.id})" data-toggle="modal" data-target="#exampleModalCenter" class="float-right">
                            ${productoPrevio.length > 0 ? "Cambiar cantidad" : "Agregar al carro"}
                        </button>
                    </section>
                    `}
                </section>
            `;
            document.getElementById("contenedorDetalleProducto").innerHTML = html;
        }
    }
    const validar = (id) => {
        let valor = $(`#producto-cantidad-${id}`).val();
        if (valor > 0) return;
        $(`#producto-cantidad-${id}`).val(1);
    }

const mas = (id,stock) =>{
    let contador = document.getElementById(`producto-cantidad-${id}`).value;
    let int = parseInt(contador, 10);
    document.getElementById(`producto-cantidad-${id}`).value = int < stock ? int + 1 : int;
}

const menos = (id,stock) => {
    let cont = document.getElementById(`producto-cantidad-${id}`).value;
    let counterValue = parseInt(cont,10);
    let NewCont = (counterValue) && counterValue > 1 ? counterValue - 1: 1;
    document.getElementById(`producto-cantidad-${id}`).value = NewCont;
}

    traerProductoId ();
</script>