﻿@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Lista Productos";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

<section class="container">
    <div id="contenedorProductos">
        <div class="contenedor-spinner">
            <div class="spinner-border m-10 text-primary" role="status">
                <span class="sr-only">buscando productos</span>
            </div>
            <h4>Buscando productos</h4>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter"  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" id="contenido-modal"></div>
            <div class="modal-footer">
                <a href="../Cart/Cart"><button type="button" class="btn btn-secondary">Ir a carro de compras</button></a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="ListProductsScripts" />
    <partial name="../Cart/CartScripts" />
}
