﻿<script>
    const traerNombreFamilia = async (id) => {
        let response = await fetch(`../../api/family/${id}`);
        if (response.ok) {
            let familia = await response.json();
            return familia.productFamily;
        }
        return "";
    }

    const traerProductos = async () => {
        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search);
        $('#busqueda').val(params.get('busqueda'));
        // Si la busqueda está vacía llamamos al endpoint que trae todo
        let query = !params.get('busqueda') || params.get('busqueda') == '' ?
            `../../api/product/producto` :
            `../../api/product/productos/${params.get('busqueda')}`;
        // Si la búsqueda es por familia se llama al endpoint de familia
        let nombreFamilia = "";
        if (params.get('familia')) {
            query = `../../api/product/familia/${params.get('familia')}`;
            nombreFamilia = await traerNombreFamilia(params.get('familia'));
        }
        let response = await fetch(query);
        if (response.ok) {
            let productos = await response.json();
            let arregloProductos = Array.from(productos);
            let html = arregloProductos.length == 0 ?
                `<div class="contenedor-spinner">
                    <img src="https://image.flaticon.com/icons/svg/2945/2945609.svg" class="sin-productos" alt="no se encontraron productos">
                    <h4>No se han encontrado productos</h4>
                </div>` :
                `<h4>Se han encontrado ${arregloProductos.length} productos ${params.get('familia') ? "en la categoría " + nombreFamilia : "que coinciden con la búsqueda"}</h4>
                <div class="contenedor-productos-cards row col-12 col-md-12">`;
            arregloProductos.forEach((producto) => {                
                html += `
                    <div class="productos-card col-6 col-md-3 ">
                        <a href="DetailProduct?id=${producto.id}"><img class="productos-img" src=${producto.imagen} class="card-img-top" alt="${producto.nombre}"></a>
                        <div class="texto-producto">
                            <p class="productos-marca">${producto.marcaProducto}</p>
                            <p class="productos-nombre"><a href="DetailProduct?id=${producto.id}">${producto.nombre}</a></p>
                            <p class="productos-precio">$ ${producto.precio.toLocaleString('es-CL')} c/u</p>
                        </div>
                        <div class="button-producto">
                            ${producto.stock === 0 
                            ? '<p class="producto-no-disponible">No Disponible</p>'
                            :`<button class="productos-agregar" onclick="agregarCarro(${producto.id})" data-toggle="modal" data-target="#exampleModalCenter">Agregar</button>`}
                        </div>
                    </div>
                `;
            })
            html += `
            </div>`;
            document.getElementById("contenedorProductos").innerHTML = html;           
        }        
    }
    traerProductos();
</script>
